{% extends 'base.html' %}

{% block head %}
<link href="{{ url_for('static', filename='css/jquery.fileupload.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1>Upload</h1>

  <form id='fileupload' role='form' action='/upload' method='POST' enctype='multipart/form-data'>
    <div class='form-group'>
      <input type='file' id='upload' name='upload' multiple>
    </div>

    <div class='form-group'>
      <input type='text' id='tags' name='tags' class='form-control' placeholder='Tags to apply'>
    </div>

    <div class='form-group'>
      <input type='text' id='group' name='group' class='form-control' placeholder='Group (optional)'>
    </div>

    <button id='submit' type='submit' class='btn btn-default'>Upload</button>
  </form>


  <h3>Files to be Uploaded</h3>
  <table id='files-table' class='table table-striped'>
    <thead>
      <tr>
        <!-- <th>#</th> -->
        <th>Name</th>
        <th>Size</th>
        <th>Commands</th>
        <th>Status</th>
      </tr>
    </thead>

    <!-- Need this for the JS below -->
    <tbody>
    </tbody>
  </table>

{% endblock %}

{% block js %}
  {{ super() }}
  {# Required #}
  <script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>

  {# Optional: for image previews and such #}
  <script src="{{ url_for('static', filename='js/canvas-to-blob.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/load-image.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload-process.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload-image.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload-audio.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload-video.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fileupload-validate.js') }}"></script>

  {# To make the code not suck #}
  <script src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/filesize.min.js') }}"></script>

  <script id='table-entry-template' type='text/html'>
      <td class='file-name'><%= name %></td>
      <td class='file-size'><%= filesize(size) %></td>
      <td>
        <button type='button' class='btn btn-danger btn-xs delete-button'>
          <span class="glyphicon glyphicon-remove"></span> Remove
        </button>
      </td>
      <td class='upload-status'>
        <% if( status === 'error' ) { %>
          <span class="label label-danger">Error</span>
        <% } else if( status === 'uploading' ) { %>
          <span class="label label-warning">Uploading</span>
        <% } else if( status === 'uploaded' ) { %>
          <a href="<%= url %>"><span class="label label-success">Uploaded</span></a>
        <% } else if( status === 'wait' ) { %>
          <span class="label label-default">Waiting</span>
        <% } %>
      </td>
  </script>

  <script>
    var App = {};

    App.TableEntry = Backbone.View.extend({
        tagName: 'tr',

        events: {
            'click .delete-button': 'deleteFile',
        },

        template: _.template($('#table-entry-template').html()),

        initialize: function() {
            // Re-render when the collection changes.
            this.listenTo(this.model, 'change', this.render);

            // Remove ourself when the model is removed.
            this.listenTo(this.model, 'remove', this.remove);
        },

        render: function() {
            var stat = '';
            if( this.model.get('error') ) {
                stat = 'error';
            } else if( this.model.get('uploading') ) {
                stat = 'uploading';
            } else if( this.model.get('uploaded') ) {
                stat = 'uploaded';
            } else {
                stat = 'wait';
            }

            this.$el.html(this.template({
                name:  this.model.escape('name'),
                size:  this.model.get('size'),
                url:   this.model.get('url'),
                status: stat,
            }));
            return this;
        },

        deleteFile: function() {
            this.trigger('file-deleted', this.model);
        },
    });

    App.FileModel = Backbone.Model.extend({
        defaults: {
            'ctr': 0,
            'name': '<unknown>',
            'size': 0,
            'uploading': false,
            'uploaded': false,
            'error': false,
        },

        submit: function() {
            return this.get('data').submit();
        },
    });

    App.FileCollection = Backbone.Collection.extend({
        model: App.FileModel,

        // Keep the files sorted by whether they're uploaded or not.
        comparator: function(one, two) {
            var waitingOne = !(one.get('uploading') || one.get('uploaded') || one.get('error')),
                waitingTwo = !(two.get('uploading') || two.get('uploaded') || two.get('error'));

            if( waitingOne && !waitingTwo ) {
                return -1;
            } else if( waitingTwo && !waitingOne ) {
                return 1;
            } else {
                return 0;
            }

            // Otherwise, sort by global counter.
            if( one.get('ctr') < two.get('ctr') ) {
                return -1;
            } else {
                return 1;
            }

            return model.get('index');
        },

        uploaded: function() {
            return this.filter(function(file) {
                return file.get('uploaded') && !file.get('error');
            });
        },

        notUploaded: function() {
            return this.filter(function(file) {
                return !file.get('uploaded') && !file.get('error') && !file.get('uploading');
            });
        },

        errored: function() {
            return this.filter(function(file) {
                return file.get('error');
            });
        },
    });

    $(function() {
        'use strict';

        // Create the collection of files
        var files = new App.FileCollection();
        var ctr = 0;

        // When our collection changes, we add a new view.
        files.on('add', function(file) {
            var view = new App.TableEntry({ model: file });
            $('#files-table > tbody:last').append(view.render().el);

            view.on('file-deleted', function(file) {
                files.remove(file);
            });
        });

        var uploader = $('#fileupload').fileupload({
            url: '/upload',
            dataType: 'json',
            autoUpload: false,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,

            previewMaxWidth: 100,
            previewMaxHeight: 100,
            previewCrop: true,

            add: function(e, data) {
                ctr += 1;
                data.context = ctr;

                var newFile = new App.FileModel({
                    ctr:  ctr,
                    name: data.files[0].name,
                    size: data.files[0].size,
                    data: data,
                });
                files.add(newFile);
            },
        });

        uploader.on('fileuploadprocessalways', function (e, data) {
            console.log("Processing finished: " + data.files[data.index].name);
        });

        $('#submit').on('click', function(e) {
            e.preventDefault();
            _.each(files.notUploaded(), function(file, i) {
                file.set('uploading', true);
                file.submit()
                  .success(function(result, stat, xhr) {
                      file.set('url', result.url);
                      file.set('uploaded', true);
                  }).error(function(xhr, stat, err) {
                      file.set('error', true);
                  }).complete(function(result, stat, xhr) {
                      file.set('uploading', false);
                  });
            });
        });
    });
  </script>
{% endblock %}
