{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class='col-lg-12'>
      {# TODO: make this into proper css? #}
      <img src='{{ url_for('single_item_data', id=item.hash) }}' style='max-width:100%; display: block; margin-left: auto; margin-right: auto;'>
    </div>
  </div>

  {# Prev/next in group #}
  {% if prev_item or next_item %}
    <div class='row'>
      <div class='col-lg-12'>
        <ul class='pager'>
          {% if prev_item %}
            <li class='previous'>
              <a href="{{ url_for('single_item', id=prev_item.hash) }}">
                &laquo; Prev
              </a>
            </li>
          {% else %}
            <li class='previous disabled'>
              <a href="#">
                &laquo; Prev
              </a>
            </li>
          {% endif %}
          {% if next_item %}
            <li class='next'>
              <a href="{{ url_for('single_item', id=next_item.hash) }}">
                Next &raquo;
              </a>
            </li>
          {% else %}
            <li class='next disabled'>
              <a href="#">
                Next &raquo;
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class='col-lg-12'>
      <h3>Information</h3>
      <table class='table table-condensed'>
        <tbody>
          <tr>
            <td>Hash:</td>
            <td>{{ item.hash }}</td>
          </tr>
          <tr>
            <td>File size:</td>
            <td>{{ item.file_size | filesizeformat }}</td>
          </tr>
          <tr>
            <td>Tags:</td>
            <td>
              {% for t in tags -%}
                <a href='{{ url_for('single_tag', id=t.id) }}'>{{ t.name }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td>Group:</td>
            <td>
              {% if item.group %}
                <a href='{{ url_for('single_group', id=item.group.id) }}'>{{ item.group.name }}</a>
              {% endif %}
            </td>
          </tr>

          <tr>
            <td>Created On:</td>
            <td>
              {{ item.created_on.strftime('%A, %B %d %Y, %H:%M:%S %Z') }}
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Commands</h3>
      <form class='form-inline' role='form' id='delete-form' action='{{ url_for('delete_item', id=item.hash) }}' method='POST'>
        <button type='submit' class='btn btn-danger btn-xs delete-button'>
          <span class="glyphicon glyphicon-remove"></span> Delete
        </button>

        <!-- Here to avoid spacing -->
        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editTags">
          <span class="glyphicon glyphicon-edit"></span> Edit Tags
        </button>
        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editGroup">
          <span class="glyphicon glyphicon-edit"></span> Edit Group
        </button>
      </form>
    </div>
  </div>

  <div class="modal fade" id="editTags" tabindex="-1" role="dialog" aria-labelledby="editTagsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="editTagsLabel">Edit Tags</h4>
        </div>
        <div class="modal-body">
          <form role='form' id='editTagsForm' action='{{ url_for('edit_item_tags', id=item.hash) }}' method="POST">
            <div class="form-group">
              <label for="newTags">New Tags:</label>
              {# TODO: this won't handle tags with quotes... #}
              <input type="text" class="form-control" id="newTags" name='tags' placeholder="New tags" value="{{ all_tags }}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id='save-tags' class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editGroup" tabindex="-1" role="dialog" aria-labelledby="editGroupLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="editGroupLabel">Edit Group</h4>
        </div>
        <div class="modal-body">
          <form role='form' id='editGroupForm' action='{{ url_for('edit_item_group', id=item.hash) }}' method="POST">
            <div class="form-group">
              <label for="newGroup">New Group:</label>
              {# TODO: this won't handle group with quotes... #}
              <input type="text" class="form-control" id="newGroup" name='group' placeholder="New group" value="{{ group }}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" id='save-group' class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block js %}
  {{ super() }}

  <script>
      $('#delete-form').submit(function() {
          var c = confirm("Do you really want to delete this item?  This cannot be undone!");
          return c;
      });

      var saveTags = function() {
          $('#editTags').modal('hide');
          $('#editTagsForm').submit();
      };

      $('#save-tags').on('click', function(e) {
          e.preventDefault();
          saveTags();
      });
      $('#newTags').on('keypress', function(e) {
          if( e.which == 13 ) {
              e.preventDefault();
              saveTags();
          }
      });


      var saveGroup = function() {
          $('#editGroup').modal('hide');
          $('#editGroupForm').submit();
      };

      $('#save-group').on('click', function(e) {
          e.preventDefault();
      });
      $('#newGroup').on('keypress', function(e) {
          if( e.which == 13 ) {
              e.preventDefault();
              saveGroup();
          }
      });
  </script>
{% endblock %}
